.container {
  margin-bottom: 30px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: #0b6b53;
  color: white;
  padding: 8px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}