.container {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background-color: #0b6b53;
  color: white;
  padding: 8px;
  border: 1px solid black;
}

.table td {
  border: 1px solid black;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmBox {
  background: #f5f5f5;
  padding: 40px 30px;
  border-radius: 12px;
  width: 500px;
  text-align: center;
}

.title {
  color: #0f5132;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  margin-bottom: 8px;
}

.subText {
  font-size: 14px;
  color: #555;
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Container for buttons (IMPORTANT for spacing) */
.actionGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

/* Main button style */
.buttonAction {
  background-color: #0b6b53;
  color: #ffffff;
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

/* Hover */
.buttonAction:hover {
  background-color: #095743;
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Click */
.buttonAction:active {
  transform: scale(0.97);
  box-shadow: none;
}

/* Optional: softer secondary button (Archive/Delete/etc) */
.buttonSecondary {
  background-color: #e8f5f1;
  color: #0b6b53;
  border: 1px solid #0b6b53;
}

.buttonSecondary:hover {
  background-color: #d2ebe3;
}

.noBtn {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background: #d9d9d9;
  cursor: pointer;
}

.yesBtn {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background: #84cc16;
  cursor: pointer;
}

.yesBtn:hover {
  background: #65a30d;
}